body{
   flex-direction: column;
    background:linear-gradient(to right, rgb(248, 183, 248),rgb(243, 243, 186),rgb(139, 238, 139),rgb(244, 153, 168),rgb(246, 128, 246));
}

.error{
    font-weight: bolder;
    justify-content: center; 
     text-align: center; 
    align-items: center;
}

.src{
     border-radius: 15px;
     padding-left:300px;
     height: 300px;
     margin-top: 5px;
}